@charset "UTF-8";
/* CSS Document */

body {
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font size: 16em;
	color: #414042;
	font-weight: bold;
}

/* Header area */

#header {
	height: 90px;
	margin: auto;
	float: left;
	text-align: right;
	background-color: #F4F4F4;
	position: fixed;
	z-index:2;
	top:0;
	width: 100%;

}

#header img {
	width:167px;
	height:80px;
	margin: 5px auto; 
	float: left;
	border: none;
}

#header ul {
	display: block;
	/*display: inline-block;*/
	list-style-type: none;
	margin: 0 auto;
}

#header li{
	color: #414042;
	text-align: center;
	display: inline-block;
	list-style-type: none;
	padding: 30px 10px 10px 10px;
	text-decoration: none;

}

.active{
	border-top: 8px solid #A3DED8;

}

#header li:hover {
	opacity: .8;
}


/*Info*/

.info{
	margin: auto;
	text-align: center;
	padding-top:120px;
	text-decoration: none;
	width: 100%;
}

/*make this 50% at <1280 and >1280 %70*/
.info h2{
	padding-top: 30px;
	margin-right: auto;
	margin-left: auto;
	max-width: 700px;
}

h1{
	font-size: 48px;
	margin: 0px;
	color: #414042;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-decoration: none

}

h2{
	font-size: 16px;
	margin: 0px;
	font-weight: normal;
	color: #414042;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-decoration: none
}

h3{
	font-size: 21px;
	margin:5px auto;
	color: #414042;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600
}

h4{
	margin:auto;
	color: #414042;
	padding-bottom: 40px;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400
}

h5{
	font-weight: 400;
	font-size: 21px;
	margin: 0px auto;
}

/* Thumbnail tiles */

#project-thumb-wrap {
	margin: auto;
	width:80%;
	max-width: 1250px;
	padding-top: 30px;
	padding-bottom: 20px;
	clear: both;
	text-align:center;
	
}

.project-thumb {
	display: inline-block;
	margin: 0px;
	position: relative;
	width:45%;
	max-width: 599px;
	position: relative;
	margin: 30px 11px 0px 11px; 
	/*background-color: #00B9BD;*/

}

.text{
	font-size: 21px;
	font-weight: 600;
	color: #414042;

}

.text li{
	color:#999999;
	font-weight: 400;
	font-size: 14px;
}

a{
	text-decoration: none;
}

.project-thumb img, .project-thumb a{
	width:100%;
}


/*About*/
.about-info img{
	width:50%;
	float: center;
}

.about-info {
	margin: auto;
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 20px;
	
}

.about-info h2{
	padding-top: 30px;
	padding-left: 20px;
	max-width: 840px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}


/*Role-Team-Tools*/

.desc {
  width: 100%;
  margin: auto;
  max-width: 1000px;
  font-weight: 400;
  margin-left: auto;


}

.desc ul,li{
	margin: 0;
	padding: 0;
	color: #999999;
	display: block;
	text-align: center;
	padding-bottom: 20px;

}

.desc .list {
	position: relative;
	width: 30%;

}

.list {

	padding-left: 25px;
	float: left;
}


/*Individual projects pages*/


.project-info h2{
	padding-top: 75px;
	padding-bottom: 25px;
	margin-right: auto;
	margin-left: auto;
	max-width: 1000px;
	padding-left: 25px;
	padding-right: 15px;
	text-align: left;
}

.project-info h1{
	padding-top: 5px;
	text-align: center;
	padding-bottom: -5px;
}

.project-info h4{
	font-size: 16px;
	text-align: center;
}

.project-info{
	text-align: center;
}

.project-img img{
	margin:auto;
	padding-top: 120px;
	max-width: 100%;

}

.img-showcase img{
	width: 100%; /*use max-width:100%; for everything*/
	max-width: 800px;
	max-height: 500px;
	text-align: center;

}


.bottom, .bottom-links{
	width: 100%;
	text-decoration: none;
	margin: 5px auto;
	text-align: left;
	padding-bottom: 30px;
}

.footer-left {
	float: left;
	margin: 2em 0 0;
	padding-left: 20px;

}

.footer-right {
	float: right;
	margin: 2em 0 0;
	padding-right: 20px;
}

.footer-right a, .footer-left a{
	font-weight: 600;
	color: #414042;
}
.footer-right span, .footer-left span{
	font-weight: 400;
	color: #999999;
}

.footer-right:hover, .footer-left:hover{
	opacity: .5;
}
