@charset "UTF-8";
/* CSS Document */

body {
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font size: 16em;
	color: #414042;
	font-weight: bold;
}

/* Header area */

#header {
	height: 90px;
	/*padding-top: 0px; --*/
	margin: auto;
	float: left;
	text-align: right;
	/*overflow: auto; --*/
	background-color: #F4F4F4;
	position: fixed;
	z-index:2;
	top:0;
	width: 100%;

}

#header img {
	width:167px;
	height:80px;
	margin: 5px 260px 10px 10px;
	float: left;
	border: none;
}

#header ul {
	display: block;
	/*display: inline-block;*/
	list-style-type: none;
	margin: 0 auto;
}

#header li{
	/*display: block;
	width: 25%;--
	padding: 30px 90px 10px 100px;--*/
	color: #414042;
	text-align: center;
	display: inline-block;
	list-style-type: none;
	padding: 30px 10px 10px 10px;
	text-decoration: none;

}

.active{
	border-top: 8px solid #A3DED8;

}

#header li:hover {
	opacity: .8;
}


/*Info*/

.info{
	margin: auto;
	text-align: center;
	padding-top:120px;
	text-decoration: none;
	width: 100%;
}

/*make this 50% at <1280 and >1280 %70*/
.info h2{
	padding-top: 30px;
	margin-right: auto;
	margin-left: auto;
	max-width: 700px;
}

h1{
	font-size: 48px;
	margin: 0px;
	color: #414042;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-decoration: none

}

h2{
	font-size: 16px;
	margin: 0px;
	font-weight: normal;
	color: #414042;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-decoration: none
}

h3{
	font-size: 21px;
	margin-left:auto;
	margin-right: auto;
	color: #414042;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600
}

h4{
	margin-left:auto;
	margin-right: auto;
	color: #414042;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400
}


/* Thumbnail tiles */

#project-thumb-wrap {
	margin: auto;
	max-width: 975px;
	padding-top: 30px;
	padding-bottom: 20px;
	clear: both;
	text-align: left;
	;
	
}

.project-thumb {
	display: inline-block;
	margin: 0px;
	position: relative;
	width: 300px;
	height: 220px;
	position: relative;
	margin: 30px 11px 0px 11px; 
	/*background-color: #00B9BD;*/

}


/*About*/
.about-info img{
	width:50%;
	float: center;
}

.about-info {
	margin: auto;
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 20px;
	
}

.about-info h2{
	padding-top: 30px;
	padding-left: 20px;
	max-width: 840px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}


/*Role-Team-Tools*/

.role-desc ul.overview {
	width: 100%;
	position: relative;
	float: left;
	margin: 0px;
	padding-top: 60px;
	display: block;

	
}

.role-desc ul.overview li {
	width: 33%;
	float: left;
	text-align: center;
	list-style: none;
	display: list-item;

}

.role-desc ul.overview li em {
	width: 100%;
	display: inline-block;
	font-size: 1.28571em;
	color: #999999;
	font-family: 'Open Sans', sans-serif;

}

.role-desc ul.overview li span {
	width: 100%;
	display: inline-block;
	font-size: 1em;
	color: #1b1b1b;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	padding-bottom:20px;

}

.role-desc p {

}

/*Individual projects*/


.project-info h2{
	padding-top: 120px;
	margin-right: auto;
	margin-left: auto;
	max-width: 1000px;
}

.project-info h1{
	padding-top:120px;
	text-align: center;
	padding-bottom: -5px;
}

.project-info h4{
	font-size: 16px;
	text-align: center;
}
